/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@font-face {
  font-family: 'tagger';
  src: url('./fonts/main_font/tagesschrift-regular-webfont.woff2') format('woff2'),
        url('./fonts/main_font/tagesschrift-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*, *::before, *::after {
  box-sizing: border-box;
}


*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

header{
  height: 60px;
}

header h1{
  font-family: "tagger";
  margin-left: 15px;
  color: white;
}

header{
  background-color: rgb(236, 207, 179);
  height: 74vh;
  display: flex;
  flex-direction: column;
  gap: 28%;
  align-items: center;
  background-image: url("./images/parisian-coffee-shop-style-with-tasty-coffee-served-wooden-table-coffee-shop-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px dotted white;
}

.nav-buttons{
  border-radius: 18px;
  border: 2px solid white;
  padding: 7px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 4px;
}

.nav-buttons:hover{
  background-color: white;
  color: black;
}

.heading{
  background: rgba(0, 0, 0, 0.45);
  color: white;
  border-radius: 12px;
  padding: 20px;
}

.why{
  background-color: #4b4b4b;
  color: white;
  height: calc(100vh - 74vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted white;
}

.field1,.field2, .field3{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 35px;
  background-color: rgb(68, 64, 64);
  color: white;
  font-size: 1.5rem;
  border-bottom: 1px dotted white;
  font-weight: bold;
}

.end{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  height: calc(100vh - 70vh);
}

footer{
  height: 30px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.6rem;
}



















































